<h1>Product Details</h1>

<p>Name: <%= product.game %></p>
<a href="/product/<%=product.id%>/updateGame">Edit</a>
<br />
<p>Genre: <%= product.genre %></p>
<a href="/product/<%=product.id%>/updateGenre">Edit</a>
<a></a>
<br />
<p>Developer: <%= product.developer %></p>
<a href="/product/<%=product.id%>/updateDeveloper">Edit</a>
<a></a>
<br />
<br />
<a></a>
