<h1>Product Details</h1>

<p>Name: <%= product.game %></p>
<p>Genre: <%= product.genre %></p>
<p>Developer: <%= product.developer %></p>
<a href="/product/<%=product.id%>/updateGame">Edit</a>
<a href="/product/<%=product.id%>/delete">Delete</a>
<br></br>
<br></br>
<a href="/">Back</a>